<div class="container">
    <div class="container-flex">
        <div class="hd-left">
            <div class="l-logo">
                {{!-- <a href="/img/logo.png"><img src="" alt=""></a> --}}
                <span>duongHAUI</span>
            </div>
            <div class="l-category">
                <div class="l-category-list-prd">
                    <div class="l-category-prd">
                        <div class="l-c-prds">Sản phẩm<i class="fas fa-sort-down"></i></div>
                    </div>
                    <ul class="l-c-prds-list" >
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-mobile-alt"></i> <span> Điện thoại máy tính bảng </span></a>
                                </li>
                                <li class="l-c-p-list-item"> </span>
                                    <a href="#"><i class="fas fa-plug"></i> <span> Điện tử - Điện lạnh </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-headphones-alt"></i> <span> Phụ kiện thiết bị số </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-laptop"></i> <span> Laptop - Thiết bị IT </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-camera-retro"></i> <span> Máy anh - Quay phim </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-carrot"></i> <span> Đồ chơi,mẹ & bé </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-leaf"></i> <span> Làm đẹp - Sức khỏe </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-tshirt"></i> <span> Thời trang - Phụ kiện </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-volleyball-ball"></i> <span> Thể thao - Giã ngoại </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-car"></i> <span> Xe máy - Oto - Xe đạp </span></a>
                                </li>
                                <li class="l-c-p-list-item">
                                    <a href="#"><i class="fas fa-book-open"></i> <span> Sách,VPP & Quà tặng </span></a>
                            </li>
                        </ul>
                </div>
                <div class="l-category-search">
                    <div class="l-c-search-input">
                        <input type="text" placeholder="Tìm sản phẩm, danh mục hay thương hiệu mong muốn ...">
                        <div class="l-c-search-btn">
                                <div class="l-c-search-btn-icon"><i class="fas fa-search"></i></div>
                            <span>Tìm kiếm</span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="hd-right">
            <div class="hd-r-user__setting">
                <a href="#" class="hd-r-user__setting-icon">
                    <img src="https://salt.tikicdn.com/ts/upload/67/de/1e/90e54b0a7a59948dd910ba50954c702e.png" alt="user">
                </a>
                <div class="hd-r-user__setting-u">
                    <div class="setting-user"><i class="fas fa-cogs"></i></div>
                    <ul class="setting-user-list">
                        <li class="st-user-item"><a href="/login">Đăng Nhập</a></li>
                        <li class="st-user-item"><a href="/register">Đăng Kí</a></li>
                        <li class="st-user-item"><a href="/login">Đăng Xuất</a></li>
                    </ul>
                </div>
            </div>
            <a href="#" class="hd-r-user-cart">
                <div class="cart-icon"><i class="fas fa-cart-arrow-down"></i><span class="count-cart-user">0</span></div>
                <div class="cart-u">Giỏ hàng</div>
            </a>
        </div>
    </div>
</div>